name: build

on:
  push:
    branches:
      - master
    tags-ignore:
      - v*
  #pull_request:
  #branches:
  #- master
  #schedule:
  #- cron: "0 0 * * 1"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - run: git fetch --force --tags

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.14"

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: docker buildx setup
        uses: docker/setup-buildx-action@v3

      - name: login to ghcr
        uses: docker/login-action@v3
        with:
          registry: https://ghcr.io
          username: StarkZarn
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker images
        uses: docker/build-push-action@v6
        with:
          context: .
          tags: ghcr.io/starkzarn/shynet:master,ghcr.io/starkzarn/shynet:latest
          push: true
          file: ./Dockerfile
          platforms: linux/amd64,linux/arm64
